:host {
  width: 100%;

  &:last-child {
    .company-item {
      border-bottom: 1px #000 solid;
    }
  }
}

.company-item {
  width: 100%;
  marker: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border: 1px #000 solid;
  border-bottom: none;

  &:hover {
    background: lightgray;
  }

  &__logo {
    height: 32px;
  }
}
