:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.header__button {

}

.layout-content {

}
