.company-sort-container {
  width: 100%;
  padding: 16px 0;
}

.company-sort-form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;

  &__select {
    padding: 8px;
  }
}
